
/* HomePage.css */
 
.filters {
  display: flex;
  justify-content: space-between;
}
 
.filter {
  width: 45%; /* Adjust the width for each filter */
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
 
.filter h5 {
  margin-bottom: 0.5rem;
}
 
.filter ul {
  padding: 0;
  list-style-type: none;
}
 
.filter li {
  margin-bottom: 0.5rem;
}
 
.filter label {
  display: flex;
  align-items: center;
}
 
.filter input {
  margin-right: 0.5rem;
}
.search-bar {
  margin-top: 1rem; /* Adjust the top margin as needed */
}
 
.search-bar input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}
 
.search-results {
  margin-top: 0.5rem;
  color: #555;
}